// 导航栏铺满整个屏幕，只在大于 2048px 分辨率下出现
// .l_header
//   @media screen and (max-width: $device-2k)
//     left: 0 !important
//     border-radius: 0 !important
//     max-width: 100% !important

// Post页面标题样式修改
article#post
  & > h1,h2,h3
    font-weight: 700
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto
    border-bottom: none
  & > h3
    font-weight: 500
    position: initial

// 添加列表页标题前竖杠
.article-title
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 1.4;
    text-align: left;
    border-left: var(--color-h1) 8px solid;
    padding-left: 10px;

// 标题样式
h1.title
  margin: 10px
  text-align: center
  font-size: 2rem !important
  font-weight: 600
  
h1.title.common_read_h1
  text-align: center !important
  font-size: 2.5rem !important

// blocknote 标题字号增大
.note strong
  font-size: 1.5rem

// 修改文章行间距
article p
  line-height: 2 !important;

// 内容居左
.post.post-v3.white-box  p
  text-align: left

// 头图只在列表页显示，进入文章页时不显示
// #l_main .article .headimg-div
//   display: none

.comment-policy
    background-color: #ebeef2;
    position: relative;
    margin-bottom: 18px;
    background-position: right 20px top 20px;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;

.content
    padding: 15px;

.comment-policy-title 
    font-size: 15px;
    font-weight: 600;
    line-height: 1.45em!important;

.comment-policy-link
    font-size: 14px;

//侧边栏 宫格布局
//侧边栏 Artalk 
.grid.navigation,
.tab-pane-content
  a
    color var(--color-list)
    &:hover
      color: #ff5722

//导航栏占位
// #l_cover
//   min-height: 0px!important;

.widget.blogger .content .social-wrapper
  margin: 4px 40px;

.widget.blogger .content >.avatar.circle
  margin-bottom: 0rem;

.widget.blogger .content .text :first-child
    margin-top: 2px;