//======================================//
// 插件 侧边栏 Tab 标签支持
.widget 
  div.tabs
    margin 0
    border none
    .nav-tabs
      border-top 1px solid rgba(68,68,68,0.2)
      border-left 1px solid rgba(68,68,68,0.2)
      border-right 1px solid rgba(68,68,68,0.2)
      border-top-left-radius 8px
      border-top-right-radius 8px
      li.tab
        flex 1
        &:last-child
          padding-right 0
    .tab-content
      font-size 14px
      p
        text-align center
        span
          font-weight bold
          padding 0 8px
      .tab-pane-content
        text-align center
        margin-top 0.5rem
    ul, p
      margin 0
//======================================//
// 插件 侧边栏 Artalk
.tab-artalk-line
  ul
    li
      margin-top: 5px;
      display: inline-flex;
      align-items: center;
      width: 100%;
      span
        background-color: #bebebe;
        color: #fff;
        width: 20px;
        min-width: 20px;
        line-height: 20px;
        display: inline-table;
        text-align: center;
        border-radius: 2px;
        margin-right: 5px;
      &:nth-child(-n+3)
        span
          background-color #f00
      a
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
.tab-artalk-comment
  max-height: 340px;
  overflow: auto;
  li
    margin-top: 5px !important;
    display: inline-flex;
    align-items: center;
    width: 100%;
  .avatar
    width: 20%;
    margin-right: 5px;
    img
      width: 36px;
      height: 36px;
      border-radius: 50%;
  .main
    width: 80%
    p
      cursor: pointer;
      font-size: 14px;
      text-align: left !important;
      color: var(--color-p);
      word-break: break-all;
      &:first-child
        font-weight: bold;

//======================================//
// 插件 侧边栏 Next 导航
.nextsite
  font-size: 0.875rem;
  .site-brand-wrapper
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 60%);
    transition: all 0.2s linear;
    position: relative;
    @media screen and (min-width: $device-mobile)
      &:hover
        background: rgba(0,0,0,0.9);
        border-radius: 0 0 70px 70px;
        box-shadow: 0 8px 20px -3px rgb(0 0 0 / 60%);
    .site-meta 
      text-align: center;
      font-size: 1em;
      line-height: 2;
      min-height: 100%;
      transition: padding .2s ease-in-out;
      padding: 20px 0;
      .brand
        display: inline-block;
      .site-title
        line-height: 1.5;
        color: #f9a972;
        font-size: 1.8em;
        text-shadow: 0 1px 4px #fff;
        margin: .67em 0;
        display: inline-block;
      .site-subtitle
        font-size: .85rem;
        color: var(--color-meta);
    .site-nav-toggle
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      position: absolute;
      @media screen and (max-width: $device-mobile)
        display: block
      button
        margin-top: 2px;
        padding: 9px 10px;
        background: transparent;
        border: none;
        .btn-bar
          display: block;
          width: 22px;
          height: 2px;
          background: #555;
          border-radius: 1px;
          background-color: #fff;
        .btn-bar+.btn-bar
          margin-top: 4px;
  .site-nav
    @media screen and (max-width: $device-mobile)
      display: none
      animation: header-effect 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55)
    @media screen and (min-width: $device-mobile)
      display: block !important
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 5px;
    .next-main
      .menu-item-active
          a
            border-radius: 50px 0 0 50px;
            border-color: transparent;
            box-shadow: 0 4px 20px -4px #00000040;
            &:after
              content: " ";
              position: absolute;
              top: 50%;
              margin-top: -3px;
              right: 15px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #f9a972;
      .next-main-item
        &:hover
          a
            border-radius: 50px 0 0 50px;
            border-color: transparent;
            box-shadow: 0 4px 20px -4px #00000040;
            color: #f9a972;
        a
          display: block;
          color: var(--color-list);
          padding: 5px 10px;
          position: relative;
        .menu-item-icon
          margin-right: 8px;

//======================================//
// 插件 侧边栏 Next 身份介绍
.nextblogger
  padding: 20px 10px 10px;
  .site-author-image
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 120px;
    height: auto;
    border: 1px solid #eee;
    opacity: 1;
    border-radius: 100%;
  .site-author-box
    margin-top: 15px;
    text-align: center;
    .site-author-name
      font-weight: 600;
      font-size: 1rem;
      color: var(--color-text);
      margin: 0;
    .site-author-description
      color: var(--color-list);
      margin-top: 2px;
      text-align: center;
      font-size: 13px;
  .links-of-author
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a
      color: var(--color-list);
      &:hover
        color: #f9a972;
  .links-of-author-item
    margin: 0 4px;
    font-size: 1.05rem;
    color: var(--text-color);